/* Light.uss */
:root {
    font-size: 14px;
    color: #333;
    background-color: #FFF;
}
Label {
    color: #333;
    margin-bottom: 4px;
}
Button {
    background-color: #EEE;
    color: #333;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 5px 10px;
}
Toggle, Slider {
    margin: 4px 0;
}
Box {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 5px;
    margin-top: 5px;
    background-color: #F9F9F9;
}
